/* Main element/ Homepage */
main{
    margin:0 auto;
    text-align: center;
    margin-top: 50px;
    width: 60%;
    display: block;
}

button{
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: purple;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: violet;
}


/* Section game */
#game-view{
    text-align: center;
    display: none;
}
#question-box{
    height: 75px;
}
#time-box{
    position: absolute;
    top:0px;
    right: 50px;
    width: 100px;

}
#answers-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-between;
    text-align: center;
    height: 300px;
}
.answer{
    width: 45%;
    border: 2px solid black;
    height: 100px;
    background-color: darkorange;
    cursor: ponter;
}
.answer:hover{
    background-color: orange;
}

/* Section highscores */

/* Footer */
footer{
    position: absolute;
    text-align: center;
    margin: 0px;
    width:100dvw;
    bottom: 0;
    right:0;

    background-color: purple;
    color:white;
}

/* Section timeout screen*/
#time-out-view{
   text-align: center;
   margin-top: 50px;
}
